<div class="card">

  <div class="card">
    <a href="{% url 'posts:for_user' username=post.user.username pk=post.pk %}">@{{ post.user.username }}</a>
  </div>

  <div class="card-body" class="media-body">
    <div class="card-header">
      <h5>{{post.message_html|safe}}</h5>
        <div class="card-footer">
          <div class=" ">
            <time class="time">
              <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a>
            </time>
          </div>
          {% if post.group %}
    			<div class="">
            <span class="group-name">in <a href="#">{{ post.group.name }}</a></span>
          </div>
    			{% endif %}
        </div>

    </div>

    <div class="card-footer">

      {% if user.is_authenticated and post.user == username and not hide_delete  %}
      <a href="{% url 'posts:delete' pk=post.pk %}" title="delete">
        <span class="fa fa-remove text-danger" aria-hidden='true'>Delete</span>
        <span class="text-danger icon-label"></span>
      </a>
      {% endif %}
    </div>
  </div>
</div>
